body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(161, 161, 236) 0%, rgb(127, 127, 163) 35%, rgb(45, 50, 51) 100%);
}

*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 420px;
    margin: 200px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: solid 5px;
    border-radius: 8px;
    background-color: lightgray;
    text-align: center;
    font-size: 32px;
    font-weight:600;
}

#prevDisplay{
    font-size: 20px;
    text-align: right;
    color: grey;
}

.displayscreen{
    width: 300px;
    height: 50px;
    background-color: white;
    border: solid 2px;
    padding: 5px;
    font-size: 28px;
}

.mainButtons{
    display: flex;
    padding: 10px;
}

.numbers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 160px;
    gap: 10px 10px;
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    border: solid 1px;
    border-radius: 2px;
}

.number:hover{
    cursor: pointer;
    background-color: silver;
}

.operators{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.operator{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
    font-size: 36px;
    font-weight: 700;
    border-radius: 2px;
}

.operator:hover{
    cursor:pointer;
    background-color: whitesmoke;
}

.evaluate{
    display: flex;
    justify-content: center;
    background-color: lightsteelblue;
    font-size: 36px;
    font-weight: 700;
}

.evaluate:hover{
    cursor: pointer;
    background-color: lightskyblue;
}

#zero {
    width: 80px;
}

#point {
    width: 40px;
}

#point:hover{
    cursor: pointer;
    background-color: silver;
}

.other {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 5px;
    padding-top: 15px;
}

#clear {
    background-color: lightcoral;
    font-size: 28px;
    font-weight: 400;
}

#backspace {
    font-size: 28px;
    font-weight: 400;
}

#clear:hover, #backspace:hover{
    cursor: pointer;
}

