body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(253, 253, 255) 0%, rgb(160, 160, 175) 35%, rgb(31, 33, 34) 100%);
}

*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 420px;
    margin: 200px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: solid 5px;
    border-radius: 8px;
    background-color:rgb(160, 213, 226);
    text-align: center;
    font-size: 32px;
    font-weight:600;
    box-shadow: rgb(67, 61, 61) 14px 22px;
    shadow
}

#prevDisplay{
    font-size: 20px;
    text-align: right;
    color: grey;
    display: flex;
    flex-direction: row-reverse;
}

.displayscreen{
    max-width: 300px;
    width: 300px;
    min-height: 50px;
    background-color: white;
    border: solid 2px;
    border-radius: 2px;
    padding: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    word-wrap:break-word;
    word-break: break-all;
}

.mainButtons{
    display: flex;
    padding: 10px;
}

.numbers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 260px;
    gap: 10px 10px;
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    border: solid 1px;
    border-radius: 40%;
    padding: 20px;
}

.number:hover{
    background-color: silver;
}

.operators{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;

}

.operator{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
    font-size: 48px;
    font-weight: 700;
    border-radius: 4px;
    border: solid 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.operator:hover{
    background-color: whitesmoke;
}

.evaluate{
    display: flex;
    justify-content: center;
    background-color: lightsteelblue;
    font-size: 36px;
    font-weight: 700;
    border-radius: 4px;
    border: solid 1px;
    padding: 10px;
}

.evaluate:hover{
    background-color: lightskyblue;
}

#zero {
    width: 120px;
}

#point {
    width: 80px;
    border-radius: 40%;
    border: solid 1px;
}

#point:hover{
    background-color: silver;
}

.other {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 5px;
    padding-top: 15px;
}

#backspace, #clear{
    border-radius: 4px;
    font-size: 28px;
    font-weight: 400;
}

#clear {
    background-color: lightcoral;

}

#backspace {
    background-color: indianred;
}

#backspace:hover{
    background-color: rgb(149, 66, 66)
}

#clear:hover{
    background-color: rgb(196, 97, 97)
}

#clear:hover, #backspace:hover{
    cursor: pointer;
}

.number:hover, .operator:hover, .evaluate:hover, #point:hover{
    cursor: pointer;
    transform: scale(110%)
}
